.*
!.gitignore
_unsloth_temporary_saved_buffers/
outputs/
qLeap_model_base_v0_1726654809/
qLeap_model_base_v0_1726654817/
wandb/
lora_model/
lora_model_pum/
llama.cpp/
olabs-ai/
lora_model_pum_instruct/
unsloth_base_gguf/
unsloth_instruct_gguf/
__pycache__/
lora_model_instruct/
models/
quantumLeap/models/
!augmentoolkit