wandb
/home/ubuntu/quantumLeap/meta-llama-3.1-8b-finetuned
/home/ubuntu/quantumLeap/wandb
meta-llama-3.1-8b-finetuned/
meta-llama-3.1-8b-finetuned/
/home/ubuntu/quantumLeap/meta-llama-3.1-8b-finetuned
/home/ubuntu/quantumLeap/wandb
cuda_12.1.0_530.30.02_linux.run
